<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="robots" content="noindex">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TGIF</title>
  <link rel="stylesheet" href="/static/css/style.min.css">
</head>

<body class="body">


  <main class="main">

    <section class="entry">
      <form action='/entry' method='post' class="entry__inner">
        <div class="entry__logo">
          <img class="entry__logo-img" width="147" height="54" src="/static/images/logo.svg" alt="logo">
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block body %}{% endblock %}
        <input name="token" class="entry__input" type="text" placeholder="Ввести инвайт">
        <button class="entry__btn" type="submit">
          Войти
        </button>
      </form>
    </section>

  </main>


  <script src="/static/js/main.min.js"></script>
</body>

</html>